doctype html
html
   head
      include includes/header.pug
      link(rel='stylesheet' href='/css/server_dashboard.css' type='text/css')
   body
      div.go_back
        button(onclick="window.location.href='/dashboard'") <= Go back to Server List
      div.prompt
        h1 #{guild.name}
      div.modules
            

                