doctype html
head
  include ../includes/header.pug
  link(rel="stylesheet" href="/css/404.css" type="text/css")
body
  div.container.center
    img(src="404.svg")
    h6#error_text Page not found
    button(onclick="window.location.href='/'") Back to Home!


      