#guilds {
  display: block;
}
.guild {
  margin: 10px max(25%, 25px);
  border-radius: 5px;
  display: flex;
  max-width: 700px;
}
.guild img {
  width: 64px;
  height: 64px;
  vertical-align: middle;
}
.guild button {
  margin: auto 0 auto auto;
  vertical-align: middle;
  align-self: flex-end;
}
.guild a {
  color: white;
  vertical-align: middle;
  width: 33%;
  padding: auto;
  margin: auto 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}